{% extends "base2.html" %}
{% load bootstrap %}

{% block title %}道具の編集{% endblock title %}

{% block content %}
    <h3 class="page-header">仕掛けの編集</h3>
    {% if product_id %}
      <form enctype="multipart/form-data" action="{% url 'FishResult:gimmic_mod' product_id=product_id%}" method="post" class="form-horizontal" role="form">
    {% else %}
      <form enctype="multipart/form-data" action="{% url 'FishResult:gimmic_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
    {% csrf_token %}
    {{ productform|bootstrap_horizontal }}
    {{ classificationform|bootstrap_horizontal }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">送信</button>
      </div>
    </div>
  </form>
  <a href="{% url 'FishResult:tools_list_gimmic' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}
