{% extends "base.html" %}

{% block title %}釣果情報{% endblock title %}

{% block content %}
<!-- 上部サブメニュー -->
  <div class="responsive-navigation visible-sm visible-xs">
      <a href="#" class="menu-toggle-btn">
          <i class="fa fa-bars fa-2x"></i>
      </a>
      <div class="navigation responsive-menu">
          <ul>
              <li class="home"><a href="#templatemo">Home</a></li>
            <li class="about"><a href="#about">道具一覧</a></li>
            <li class="services"><a href="#services">セット一覧</a></li>
            <li class="portfolio"><a href="#portfolio">釣果登録</a></li>
            <li class="contact"><a href="#contact">マップ</a></li>
          </ul>
      </div>
  </div>
  <!-- 上部サブメニュー -->
  <!-- サイドサブメニュー -->
	<div id="main-sidebar" class="hidden-xs hidden-sm">
		<div class="logo">
			<a href="#"><h1>釣人</h1></a>
			<span>Menu for anglers</span>
		</div><!--  ロゴ -->

		<div class="navigation">
	        <ul class="main-menu">
	            <li class="home"><a href="#templatemo">Home</a></li>
	            <li class="about"><a href="#about">道具一覧</a></li>
	            <li class="services"><a href="#services">セット一覧</a></li>
	            <li class="portfolio"><a href="#portfolio">釣果登録</a></li>
	            <li class="contact"><a href="#contact">マップ</a></li>
	        </ul>
		</div>
  </div>
    <!-- サイドサブメニュー -->
    <!-- メインスライダー(見出し) -->
  <div id="main-content">
    <div id="templatemo">
		  <div class="main-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="slider-caption">
								<h2>Responsive Layout</h2>
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
								<a href="#" class="largeButton homeBgColor">Read More</a>
							</div>
							<img src="{{ MEDIA_URL }}/static/images/slide4.jpg" alt="Slide 1">
						</li>
        　</ul>
        </div>
     </div>
    </div>


  <div class="container-fluid">
	　<div class="row">
			<div class="col-md-12">
				<div class="welcome-text">
					<h2>Welcome to 釣人</h2>
					<p>説明文</p>
				</div>
			</div>
		</div>
	</div>
  <!-- メインスライダー(見出し) -->

  <!-- 道具一覧概要 -->
  <div class="container-fluid">

			<div id="about" class="section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>道具一覧</h2>
						</div>
					</div>
				</div>
				<div class="row">

				</div> <!-- /.row -->
				<div class="row our-story">
					<div class="col-md-8">
						<h3>道具の追加や削除など</h3>
					  	このページでは、道具の一覧を見ることができます。<br>
              また、道具の登録や削除を行えます。<br>
              <br>
              <a href= "{% url 'FishResult:tools_list' %}">道具一覧ページへ</a>
					</div>
					<div class="col-md-4">
						<div class="story-image">
							<a href= "{% url 'FishResult:tools_list' %}"><img src="{{ MEDIA_URL }}/static/images/responsive-design.jpg" alt="道具一覧へ"></a>
						</div>
					</div>
				</div> <!-- /.row -->
			</div>


      <!-- セット一覧概要 -->
    <div id="services" class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>セット一覧</h2>
          </div>
        </div>
      </div>
      <div class="row">

      </div> <!-- /.row -->
      <div class="row our-story">
        <div class="col-md-8">
          <h3>セットの追加や削除など</h3>
            このページでは、セットの一覧を見ることができます。<br>
            また、セットの登録や削除を行えます。<br>
            <br>
            <a href= "{% url 'FishResult:set_list' %}">セット一覧ページへ</a>
        </div>
        <div class="col-md-4">
          <div class="story-image">
            <a href= "{% url 'FishResult:set_list' %}"><img src="{{ MEDIA_URL }}/static/images/responsive-design.jpg" alt="セット一覧へ"></a>
          </div>
        </div>
      </div> <!-- /.row -->
    </div>

    <!-- 釣果登録概要 -->
    <div id="portfolio" class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>釣果登録</h2>
          </div>
        </div>
      </div>
      <div class="row">

      </div> <!-- /.row -->
      <div class="row our-story">
        <div class="col-md-8">
          <h3>釣果の登録</h3>
            このページでは、魚を釣った場所の登録。<br>
            釣りあげたタックルの記録を行えます。<br>
            <br>
            <a href= "{% url 'FishResult:fishing_registration' %}">釣果登録ページへ</a>
        </div>
        <div class="col-md-4">
          <div class="story-image">
            <a href= "{% url 'FishResult:fishing_registration' %}"><img src="{{ MEDIA_URL }}/static/images/responsive-design.jpg" alt="釣果登録へ"></a>
          </div>
        </div>
      </div> <!-- /.row -->
    </div>

    <!-- マップ -->
    <div id="contact" class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>マップ</h2>
          </div>
        </div>
      </div>
      <div class="row">

      </div> <!-- /.row -->
      <div class="row our-story">
        <div class="col-md-8">
          <h3>スポット</h3>
            魚が釣れたポイントを一目で見ることができます。<br>
            また、写真を登録することができ、一覧でみることもできます。
            <br>
            <br>
            <a href= "{% url 'FishResult:map' %}">マップページへ</a><br>
            <a href= "{% url 'FishResult:album' %}">アルバムページへ</a>
        </div>
        <div class="col-md-4">
          <div class="story-image">
            <a href= "{% url 'FishResult:tools_list' %}"><img src="{{ MEDIA_URL }}/static/images/responsive-design.jpg" alt="道具一覧へ"></a>
          </div>
        </div>
      </div> <!-- /.row -->
    </div>



  </div><!--conteinerfluid-->
  </div><!--maincontent-->









{% endblock content%}
