{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
<meta charset="UTF-8">

<title>{% block title %}釣果情報{% endblock %}</title>


<link href="{% static 'css/maps.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">


</head>
<body>


    {% block content %}
      {{ content }}
    {% endblock %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-JmCfUK1h2v4TcRW9VPI-0JVhoWyFoEA"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>

</body>
</html>
