{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>{% block title %}道具一覧{% endblock %}</title>
<link href="{% static 'css/fonts-googleapics-amaranth.css' %}" rel="stylesheet">
<link href="{% static 'css/fonts-googleapics-doroid.css' %}" rel="stylesheet">
<script src="{% static 'jquery-1.6.4.min.js' %}"></script>
<script src="{% static 'js/ddsmoothmenu.js' %}"></script>
<script src="{% static 'js/jquery.jcarousel.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.masonry.min.js' %}"></script>
<script src="{% static 'js/jquery.slickforms.js' %}"></script>
{% block extrahead %}{% endblock %}
</head>
<body>

    {% block content %}
      {{ content }}
    {% endblock %}

</body>
</html>
